@font-face {
  src: url(Roboto-Thin.ttf);
  font-family: roboto;
}

body{
  margin: 0 auto;
  background-color: #242526;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-family: roboto;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/Rocket.gif") center no-repeat #fff;
}

.due_task{
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-y: hidden;
  transition: 0.7s;
}

.due_header{
  color: silver;
  margin-left: 2%;
  overflow-y: hidden;
}

.due_task_header{
  color: silver;
  text-align: center;
}

.heading_raper{
    color: silver;
    width: 99%;
    margin:0 auto;
    margin-left: 1px;
  }

  .taskName, .taskDate, .timeRemaining{
    display: inline-block;
    height: 30px;
    width: 32%;
    text-align: center;
    padding-top: 8px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: #FFFEF7;
    font-size: 14pt;
    margin: 0.3%;
    color: silver;
  }

  .courseContent{
    width: 99%;
    margin:0 auto;
    margin-left: 1%;
    overflow-y: scroll;
    height: 300px;
  }

  .courseContent::-webkit-scrollbar {
    display: none;
  }

  .closeDue {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

.minimize{
  margin-left:92%;
  width: 5%;
  cursor: pointer;
  overflow-y: hidden;
}

.closeParent{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  float: right;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

#nav-bar
{
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top: 175px;
  overflow-y: hidden;
}

#view, .milestone
{
width: 49.5%;
height: 40px;
display:inline-block;
border: none;
background-color: #464646;
color: white;
font-family: sans-serif;
font-size: 12pt;
text-align: center;
}

#view:hover, .milestone:hover{
  background-color: grey;
}

#Tempo{
    text-align: center;
    margin-top: 18%;
}

#time{
  color: white;
  font-family: monospace;
  font-size: 45pt;
  font-weight: bold;
}

#myDate{
  color: white;
  font-family: monospace;
  font-size: 30pt;
  font-weight: bold;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  overflow-y: hidden;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-weight: bolder;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .7s;
}

.theCourseList{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 60px;
  transition: 0.5s;
  color: silver;
}

.theCourseList .closeCourseList{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 58px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
}

.course_select{
  margin: 1%;
  height: 10vh;
  text-align: center;
  padding-top: 4px;
  background-color: #18191A;
  display: block;
  text-decoration: none;
  width: 98%;
  border: none;
  font-size: 12pt;
  color: silver;
}

.chosen_course{
  margin: 1%;
  height: 10vh;
  text-align: center;
  padding-top: 4px;
  background-color: #18191A;
  display: block;
  text-decoration: none;
  width: 98%;
  border: none;
  font-size: 12pt;
  color: silver;
  cursor: pointer;
}

.course-details{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 60px;
  transition: 0.8s;
  color:silver;
}

.refresh, .close_details{
  display: inline;
}

.refresh{
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 58px;
  text-decoration: none;
}

 .close_details{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 58px;
  margin-left: 50px;
  text-decoration: none;
  color: #818181;
}

.setCourseName, .task_head, .no-task{
  margin-left: 2%;
}

.reminderButtons{
  margin-left: 2%;
}

.reminderButtons img{
  float: left;
}

.setButton, .remove_course, .deleteButton {
 display: inline;
}

.remove_course{
  margin-left: 38%;
}

.set_reminder{
  width: 20%;
  height: 30px;
  font-size: 11pt;
  cursor: pointer;
  background-color: #4ADEDE;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
  padding-top:7px;
}

.set_reminder:hover{
  background-color: #03FDFC;
}

.set_reminder:active{
  background-color: #58CCED;
}

.delete_reminder{
  width: 20%;
  height: 30px;
  font-size: 11pt;
  cursor: pointer;
  background-color: #AC1F43;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
  padding-top:7px;
}

.delete_reminder:hover{
  background-color: #B32134;
}

.select_remove{
  width: 20%;
  height: 30px;
  font-size: 11pt;
  cursor: pointer;
  background-color:#4ADEDE;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
}

.course_tasks{
  margin-top: 0.5%;
}

.heading_wraper{
  width: 99%;
  margin:0 auto;
  margin-left: 1%;
}

.task-name, .task-date, .time-remaining{
  display: inline-block;
  height: 30px;
  width: 32%;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
  font-size: 12.5pt;
  margin: 0.3%;
  color: silver;
}

.course-content{
  width: 99%;
  margin:0 auto;
  margin-left: 1%;
  height: 220px;
  overflow-y: scroll;
}

.course-content::-webkit-scrollbar {
  display: none;
}

.wrap_reminder div{
  display: inline-block;
  margin:0.3%;
}

.task_name, .task_date, .count_down{
  height: 30px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  background-color: #0ABAB5;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
  font-size: 12.5pt;
  width: 32%;
}

.course_overdue{
  height: 30px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  background-color: #AC1F43;
  border: none;
  border-radius: 2px;
  color: #FFFEF7;
  font-size: 12.5pt;
  width: 32%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 28%;
  margin-top: 20%;
  width: 45%;
  height: 40%;
  overflow: hidden;
  background-color: #171717;
  transition: 0.5s;
  border-radius: 2px;
}

.close, .content{
  display: inline-block;
}

.close{
  font-size: 30pt;
  float: right;
  margin-right: 3%;
  color: silver;
}

.close:hover{
  cursor: pointer;
  color: white;
}

.content{
  overflow:hidden;
  margin-top: 2%;
  text-align: center;
  width: 100%;
  color: #76BA1B;
}

.response{
  margin-left: 2%;
  font-weight: bold;
}

.removecourse{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.removecourse h1{
  color: silver;
}

.close_course{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36pt;
  margin-left: 50px;
  text-decoration: none;
  color: silver
}

.close_course:hover{
  color: white;
}

.selected_Course{
  width: 100%;
  height: 45px;
  font-size: 11pt;
  cursor: pointer;
  background-color:#18191A;
  border: none;
  color: #FFFEF7;
  border: none;
}

.removed_Course{
  width: 100%;
  height: 45px;
  font-size: 11pt;
  cursor: pointer;
  background-color:#18191A;
  border: none;
  color: #FFFEF7;
  font-size: 12pt;
}

.rem_course{
  margin-top: 15%;
}

.removed_Course{
  margin-top: 2%;
}

.removedModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 30%;
  margin-top: 20%;
  width: 40%;
  height: 35%;
  overflow: hidden;
  background-color: #171717;
  transition: 0.5s;
  border-radius: 2px;
}

.courseRemoved{
  font-size: 30pt;
  float: right;
  margin-right: 3%;
  color: silver;
}

.courseRemoved:hover{
  cursor: pointer;
  color: white;
}

.isRemoved{
  overflow:hidden;
  margin-top: 2%;
  text-align: center;
  width: 100%;
  color: #76BA1B;
}

.data-feedback{
  margin-left: 2%;
  font-weight: bold;
}


.openingWindow{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 30%;
  margin-top: 20%;
  width: 40%;
  height: 20%;
  overflow: hidden;
  background-color: #171717;
  transition: 0.5s;
  border-radius: 2px;
}

.opening{
  color:silver;
  font-size: 14pt;
  text-align: center;
}

.text{
  color:silver;
  font-size: 14pt;
  text-align: center;
  display: none;
}
