@font-face {
  src: url(Roboto-Thin.ttf);
  font-family: roboto;
}

body{
  margin: 0 auto;
  background-color: #111;
  color: silver;
  font-family: roboto;
}

.form_header{
  text-align: center;
}

.course_name, .date_picker{
  display: block;
  margin: 1%;
  border: none;
  border-radius: 2px;
  font-size: 11pt;
}

.course_name{
  height: 30px;
  width: 96%;
  color: white;
  background-color: #18191A;
}

.date_picker{
  width: 96.8%;
  height: 30px;
  background-color: #18191A;
  color: silver;
}

.time{
  margin-left: 1%;
  text-align: center;
}

.time input{
  display: inline-block;
  width: 30.8%;
  border: none;
  border-radius: 2px;
  height: 33px;
  font-size: 11pt;
  background-color: #18191A;
  color: white;
}

.time, .setReminderButton{
  margin: 1.5%;
  display: block;
}

.setReminderButton{
  border: none;
  border-radius: 2px;
  width: 97.4%;
  height: 32px;
  font-size: 11pt;
  cursor: pointer;
  background-color: #4ADEDE;
  color: #FFFEF7;
}

.form_container{
  margin: auto;
  width: 75%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin-left: 12%;
  margin-top: 12%;
  width: 75%;
  height: 65%;
  overflow: hidden;
  background-color: #171717;
  border-radius: 2px;
}

.close, .content{
  display: inline-block;
}

.close{
  font-size: 30pt;
  float: right;
  margin-right: 3%;
}

.close:hover{
  cursor: pointer;
  color: white;
}

.content{
  overflow:hidden;
  margin-top: 2%;
  text-align: center;
  width: 100%;
}

.response{
  margin-left: 2%;
  font-weight: bold;
}

.valid{
  text-align: center;
  font-weight: bold;
}
